/target/
/Foto/nbproject/private/
/Foto/build/
/sistemaAlocacaoSalas/nbproject/private/
/sistemaAlocacaoSalas/build/
/JavaApplication10/nbproject/private/
/UploadFotoWeb/nbproject/private/
/SisLivrosMaster/nbproject/private/
/SysLivrosMaster/target/