body{
    background-color:rgba(64, 64, 64, 1);
}

#allContent{
    background: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    
}

#allContent img{    
    width: 170px;
    height: 170px;
    border: 2px solid white;
}

.editar{
    position: absolute;
    left: 17%;
    top: 230px;
}

#pageSection{
    width: 90%;
    margin: 0 auto;
    display: table;
    
}

#pageSection .header{
    display: table-caption;    
}

#pageSection .content{
    display: table-row-group;    
}

#pageSection .personData{
    display: inline-block; 
    background-color: rgb(220,220,220);
    width: 100%;
    padding: 6px;
    color: #4c4c4f;
}

#pageSection .personData h4{
    display: inline-block;
    width: 40%;
    margin: 0px;
    font-size: 16px;
    color: #79797e;
}

#pageSection .personData a{
    float: right;
    opacity: 0;
}

#pageSection .personData:hover a{
    float: right;
    opacity: 1;
}

hr{
    margin: 0;
    border-color: buttonface;
}
