<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>
        Sistema de Livros
    </description>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CadastrarLivros</servlet-name>
        <servlet-class>com.br.sistema.servlets.CadastrarLivros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUsuario</servlet-name>
        <servlet-class>servlets.UpdateUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUsuario</servlet-name>
        <url-pattern>/UpdateUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>com.br.sistema.servlets.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>com.br.sistema.servlets.ListarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletarUsuario</servlet-name>
        <servlet-class>servlets.DeletarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletarUsuario</servlet-name>
        <url-pattern>/DeletarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarLivros</servlet-name>
        <servlet-class>servlets.CadastrarLivros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarLivros</servlet-name>
        <url-pattern>/CadastrarLivros</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarLivros</servlet-name>
        <servlet-class>servlets.ListarLivros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarLivros</servlet-name>
        <url-pattern>/ListarLivros</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EncontrarLivros</servlet-name>
        <servlet-class>servlets.EncontrarLivros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncontrarLivros</servlet-name>
        <url-pattern>/EncontrarLivros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <pageEncoding>utf-8</pageEncoding>                        
            <include-coda>footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
